@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');
.elbahja_presentation{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    div{
    width: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 !important;
    margin-bottom: 10px;
    img{
     width: 49%;
     height: 500px;
     margin-bottom: 10px !important;
     box-shadow: none;
     
    }
    p{
        padding: 10px;
        width: 45%;
        font-family: 'Dancing Script', cursive;
        font-size: $font-lg;
        text-align: center;
    }
    }
    h1{
        font-family: 'Dancing Script', cursive;
        font-size: $font-lg*1.5;
    }
    .slide{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        img{
        width: 95%;
        height: 500px;
        margin-bottom: 50px;
        box-shadow: 8px 8px 50px #0f0e129e;
        border-radius: 20px;
    }
    
    }
    .ourteam{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        .boxcheif{
            width: 300px;
            height: 520px;
            border-radius: 20px;
            background-color: #C0C0C0;
            display: flex;
            flex-direction: column;
            margin-left: 60px;
            transition: transform .5s;
            .chef1{
                width: 300px;
                height: 322px;
                border-radius: 20px;
                border-top-right-radius: 0px !important;
                border-end-end-radius: 0px !important;
                border-end-start-radius: 0px !important;
            }
            h3{
            font-family: 'Dancing Script', cursive;
            font-size: $font-lg*1.5;
            }
            p{   width: 100%;
                font-size: $font-sm;  
                margin-bottom: 20px; 
            }
        }
        .boxcheif:hover{
            transform: scale(1.15);
            box-shadow: 8px 8px 50px #0f0e129e;
            border-end-start-radius: 0px !important;
            border-top-right-radius: 0px !important;
        }
        margin-bottom: 100px;
    }
  
}
