@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');
.elbahja_presentation{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    div{
    width: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 !important;
    margin-bottom: 10px;
    img{
     width: 49%;
     height: 500px;
     margin-bottom: 10px !important;
     box-shadow: none;
     
    }
    p{
        padding: 10px;
        width: 45%;
        font-family: 'Dancing Script', cursive;
        font-size: $font-lg;
        text-align: center;
    }
    }
    h1{
        font-family: 'Dancing Script', cursive;
        font-size: $font-lg*1.5;
    }
    .slide{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        img{
        width: 95%;
        height: 500px;
        margin-bottom: 50px;
        box-shadow: 8px 8px 50px #0f0e129e;
        border-radius: 20px;
    }
    
    }
    
  
}