$navcolorwhite:white;
$PrimaryColor:white;
$secendaryColor:#222222;
$footerColor:#141414;
$colortype1:black;
$font-lg:40px;
$font-md2:26px;
$font-md1:20px;
$font-sm:16px;
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');
$fontfamily:'Roboto', sans-serif;

@mixin buttonstyle {
    width: 170px;
    height: 50px;
    margin-left: 70px;
    background-color: $secendaryColor;
    border: none;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
}

.elbahja_Welcome{
    width: 100%;
    height: 500px;
    background-image: url(image/tajine.jpg);
    background-repeat: no-repeat;
    background-size: 95% 550px;
    background-position-x: center;
    opacity: 0.7;
    display: flex;
    flex-direction:column;
    justify-content: center;
    &-para{
        &--welcome{
            
            font-size: $font-md2;
            font-weight:500;
            margin-left:70px;
            color: $colortype1;
            
        }
        &--tradition{
            font-size: $font-lg;
            font-weight:bold;
            margin-left:70px;
            color: $PrimaryColor ;
            margin-bottom: 20px;
            text-shadow: 0px 0px 5px #ddc9c9;
        }
        
        
    }
    &-button{
    display: flex;
     flex-direction: row;
         &--order{
             @include buttonstyle;
             a{
                 @include linksstyle;
                 color: white;
             }

             &:hover{
               a{
                   color: $secendaryColor;
               }
               background-color: white
             }
         }
         &--book{
            @include buttonstyle;
            a{
                @include linksstyle;
                color: white;
            }
            &:hover{
                a{
                    color: $secendaryColor;
                }
                background-color: white
              }
         }
        
        
    }
    
    
    margin-bottom: 30px;
}


.elbahja_bestDishes{
    width: 100%;
    display: flex;
    flex-direction: row;
    h1{
     text-align: center;
     font-size: $font-md2;
     margin-bottom: 20px;
    }
    &-slider{
        margin-left: 70px;
        position: relative;
        width: 45%;
        overflow: hidden;
        &--images{
            display: flex;
            justify-content: space-between;
            width: 100%;
            img{
                width: 100%;
                height: 500px;
                transition: all 0.15s ease;
            }
            input{
                display: none;
            } 
        }
        &--dots {
            display: flex;
            justify-content: center;
            margin: 5px;
            label{
                height: 20px;
                width: 20px;
                border-radius: 50%;
                border: solid black;
                cursor: pointer;
                transition: all 0.15s ease;
                margin: 5px;
            }
            label:hover{
                background:#FFEDE6;
            }
            
        } 
    } 
    &-historyabout{
        width: 40%;
        padding: 40px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        h3{
            font-size: $font-lg;
            font-weight: 400;
            text-align: center;
            margin-bottom: 20PX;
        }
        h4{
            margin-top: 20PX;
            font-size: $font-md1;
            font-weight: 800;
            text-align: center;
            margin-bottom: 20PX;
            
        }
        p{
            margin-bottom: 40PX; 
            font-weight: 400;
            font-size: $font-md1;
        }
        a{
            @include linksstyle;
            text-align: center;
            font-weight: 400;
        }
        a:hover{
            font-size: $font-md2;
            text-shadow: 0px 0px 2px rgb(37, 36, 36);
        }
    } 
}
 
#img1:checked ~ .m1{
    margin-left: 0;
}
#img2:checked ~ .m2{
    margin-left: -100%;
}
#img3:checked ~ .m3{
    margin-left: -200%;
}
#img4:checked ~ .m4{
    margin-left: -300%;
}
#img5:checked ~ .m5{
    margin-left: -400%;
}

@mixin boxstyle {
    width: 300px;
    height: 300px;
    background-color: $secendaryColor;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: $font-md2;
    font-weight: 500;
    color: $PrimaryColor;
}
@mixin reverse {
    .front,.back{
        overflow: hidden;
        backface-visibility: hidden;
        position: absolute;
        transition: transform .4s linear;
    }
    .front{
        @include boxstyle;
    }
    .front{
        transform: perspective(600px) rotateY(0deg);
    }
    .back{
        @include boxstyle;
        background-color: white;
        color: $secendaryColor;
        border: solid black;
        transform: perspective(600px) rotateY(180deg);
    }
}
h2{
    font-size: $font-lg;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
}
.elbahja_Menu{
    margin-top: 70px;
    margin-bottom: 70px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    &-gridcontainer{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        gap: 70px 70px;
        grid-template-areas:
    "elbahja_Menu-gridcontainer--lundi elbahja_Menu-gridcontainer--mardi elbahja_Menu-gridcontainer--mercredi"
    "elbahja_Menu-gridcontainer--jeudi elbahja_Menu-gridcontainer--vendredi elbahja_Menu-gridcontainer--samedi"
    ". elbahja_Menu-gridcontainer--dimanche .";

      &--lundi {
        grid-area: elbahja_Menu-gridcontainer--lundi; 
        
        @include reverse;

       }
       &--lundi:hover> .front{
        transform: perspective(600px) rotateY(-180deg);
       }
       &--lundi:hover> .back{
        transform: perspective(600px) rotateY(0deg);
       }
       &--mardi {
        grid-area: elbahja_Menu-gridcontainer--mardi; 
        
        @include reverse;
       }
       &--mardi:hover> .front{
        transform: perspective(600px) rotateY(-180deg);
       }
       &--mardi:hover> .back{
        transform: perspective(600px) rotateY(0deg);
       }
       &--mercredi {
        grid-area: elbahja_Menu-gridcontainer--mercredi; 
        
        @include reverse;
       }
       &--mercredi:hover> .front{
        transform: perspective(600px) rotateY(-180deg);
       }
       &--mercredi:hover> .back{
        transform: perspective(600px) rotateY(0deg);
       }
       &--jeudi {
        grid-area: elbahja_Menu-gridcontainer--jeudi; 
        
        @include reverse;
       }
       &--jeudi:hover> .front{
        transform: perspective(600px) rotateY(-180deg);
       }
       &--jeudi:hover> .back{
        transform: perspective(600px) rotateY(0deg);
       }
       &--vendredi {
        grid-area: elbahja_Menu-gridcontainer--vendredi; 
        
        @include reverse;
       }
       &--vendredi:hover> .front{
        transform: perspective(600px) rotateY(-180deg);
       }
       &--vendredi:hover> .back{
        transform: perspective(600px) rotateY(0deg);
       }
       &--samedi {
        grid-area: elbahja_Menu-gridcontainer--samedi; 
       
        @include reverse;
       }
       &--samedi:hover> .front{
        transform: perspective(600px) rotateY(-180deg);
       }
       &--samedi:hover> .back{
        transform: perspective(600px) rotateY(0deg);
       }
       &--dimanche {
        grid-area: elbahja_Menu-gridcontainer--dimanche; 
        @include boxstyle;
        @include reverse;
       }
       &--dimanche:hover> .front{
        transform: perspective(600px) rotateY(-180deg);
       }
       &--dimanche:hover> .back{
        transform: perspective(600px) rotateY(0deg);
       }
    }
}
@mixin image {
    width:90%;
    height:400px;
    opacity: 0.9;
}
@mixin button-order{
    width: 50%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h3{
        font-size: $font-lg;
        font-weight: bold;
        margin-bottom: 40px;
        text-align: center;
    }
    p{
        font-size: $font-md1;
        font-weight: 400;
        margin-bottom: 40px;
    }
    .button{
        @include buttonstyle;
        a{
        @include linksstyle;
        color: $PrimaryColor;
    }
    &:hover{
        a{
            color: $secendaryColor;
        }
        background-color: white
      }
}
}
.elbahja_bestDeals{
    width: 95%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 40px;
    &-couscous{
        display: flex;
        &--image{
            img{@include image;}
            
        }
        &--text{

            @include button-order;
        }
            
        
    margin-bottom: 30px;    
    }
    &-taginepoulet{
        display: flex;
        &--image{
            img{ @include image;}
           
        }
        &--text{
            @include button-order;
           
        }
        margin-bottom: 30px;  
    }
    &-ma9lapoulet{
        display: flex;
        &--image{
            img{@include image;}
            
        }
        &--text{
            @include button-order;
        }
        margin-bottom: 70px;  
    }
}

@media (max-width: 984px) {
    .elbahja_bestDishes{
        display: flex;
        flex-direction: column;
        align-items: center;
        &-slider{
            width: 75%;
        }
        &-historyabout{
            width: 75%;
        }
        
    }
    @mixin boxstyle {
        width: 600px;
        height: 200px;
        background-color: $secendaryColor;
        border-radius: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: $font-md2;
        font-weight: 500;
        color: $PrimaryColor;
    }
    .elbahja_Menu{
        margin-top: 70px;
        margin-bottom: 70px;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        &-gridcontainer{
            display: grid;
            grid-template-columns: 100% ;
            grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
            gap: 70px 70px;
            grid-template-areas:
        "elbahja_Menu-gridcontainer--lundi"
         "elbahja_Menu-gridcontainer--mardi "
         "elbahja_Menu-gridcontainer--mercredi"
        "elbahja_Menu-gridcontainer--jeudi"
         "elbahja_Menu-gridcontainer--vendredi" 
         "elbahja_Menu-gridcontainer--samedi"
        "elbahja_Menu-gridcontainer--dimanche";}}
        .elbahja_bestDeals{
            &-couscous{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                
                &--text{
                    width: 90% !important;
                    text-align: center;
                }
            }
            &-taginepoulet{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                
                &--text{
                    width: 90% !important;
                    text-align: center;
                }
            }
            &-ma9lapoulet{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                
                &--text{
                    width: 90% !important;
                    text-align: center;
                }
            }
        }
  }