$navcolorwhite:white;
$PrimaryColor:white;
$secendaryColor:#222222;
$footerColor:#141414;
$colortype1:black;
$font-lg:40px;
$font-md2:26px;
$font-md1:20px;
$font-sm:16px;
.elbahja_Reserve{
    margin-top: 20px;
    width: 100%;
    height: 550px;
    background-image: url(/image/604bf66ee540d.jpg);
    background-repeat: no-repeat;
    opacity: 0.9;
    background-size: 95% 550px;
    background-position-x: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h1{
        color: $PrimaryColor;
        font-size: $font-lg*2;
        font-weight: 500;
        margin-bottom: 20px;
        text-shadow: 0px 0px 7px $secendaryColor;
    }
    h2{
        color: $PrimaryColor;
        font-size: $font-md2*2;
        font-weight: 500; 
        margin-bottom: 40px;
        text-shadow: 0px 0px 7px $secendaryColor;
    }
    button{
        width: 170px;
        height: 45px;
        text-transform: uppercase;
        letter-spacing: 1px;
        color: $PrimaryColor;
        background-color: $secendaryColor;
        border: none;
        outline: none;
        cursor: pointer;
    }
    button:hover{
        color: $secendaryColor;
        background-color: $PrimaryColor;
    }
    margin-bottom: 50px;
}
