$navcolorwhite:white;
$PrimaryColor:white;
$secendaryColor:#222222;
$footerColor:#141414;
$colortype1:black;
$font-lg:40px;
$font-md2:26px;
$font-md1:20px;
$font-sm:16px;

.elbahja_Reservation{
    margin-top: 20px;
    width: 100%;
    height: 600px;
    background-image: url(/HTML-CSS-SASS-JAVASCRIPT/image/604caeeebb6f7.jpg);
    background-repeat: no-repeat;
    opacity: 0.9;
    background-size: 95% 600px;
    background-position-x: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h1{
        color: $PrimaryColor;
        font-size: $font-lg*2;
        font-weight: 500;
        margin-bottom: 20px;
        text-shadow: 0px 0px 7px $secendaryColor;
    }
    p{
        color: $PrimaryColor;
        font-size: $font-md2;
        text-align: center;
        font-weight: 400; 
        margin-bottom: 40px;
        text-shadow: 0px 0px 7px $secendaryColor;
    }
    
    margin-bottom: 50px;
}
.elbahja_Makereser{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h4{
        margin-top: 30px;
        margin-bottom: 30px;
        font-size: $font-md1*2;
        font-weight: 400;
    }
    h1{
        font-size: $font-md2*2;
    }
    p{
        font-size: $font-md1*1.5; 
    }
    margin-bottom: 50px;
}
.elbahja_form{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
   .form-control{
    margin-bottom: 5px;
	padding-bottom: 5px;
    position: relative;
      
   }

   label{
       margin-top: 30px;
       margin-bottom: 20px;
   }
   input{
       margin-top: 10px;
       margin-bottom: 20px;
       border:2px solid black;
       border-radius: 4px;
       display: block;
       width: 300px;
       padding: 10px;
   }
    input:focus {
	outline: 0;
	border-color: #777;
    }
   small{
    color: #e74c3c;
    visibility: hidden;
    position: absolute;
    bottom: 0;
    left: 0;
   }
   button{
    background-color: $secendaryColor;
	border: 2px solid $secendaryColor;
	border-radius: 4px;
	color: #fff;
	display: block;
	font-size: 16px;
	padding: 10px;
	margin-top: 20px;
	width: 100%;
   }
   .form-control.Error small {
	visibility: visible;
}   
   .form-control.sucsses input{
       border-color: #2ecc71;
   }
   .form-control.Error input{
    border-color:#e74c3c;
}

}







