$navcolor:#FFF5F2;
$PrimaryColor:#FFFCF7;
$secendaryColor:#E9967A;
$footerColor:#141414;
$colortype1:black;
$font-lg:40px;
$font-md2:23px;
$font-md1:20px;
$font-sm:16px;
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');
$fontfamily:'Roboto', sans-serif;